@using Microsoft.AspNetCore.Components.Authorization
@using PeopleApp.Client.Services.Auth
@using Radzen.Blazor

@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PeopleApp.Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <RadzenPanelMenu Style="width:100%; border:none;">
        <RadzenPanelMenuItem Text="Home" Icon="home" Path="" />

        <RadzenPanelMenuItem Text="Counter" Icon="add_box" Path="counter" />

        <RadzenPanelMenuItem Text="Catalogo" Icon="list_alt" Path="all-people" />

        <RadzenPanelMenuItem Text="Compras" Icon="shopping_cart" Path="purchases" />

        <RadzenPanelMenuItem Text="Dashboard" Icon="dashboard" Path="dashboard" />

        <RadzenPanelMenuItem Text="Reports" Icon="bar_chart">
            <RadzenPanelMenuItem Text="Purchases" Icon="show_chart" Path="reports/purchases" />

            <RadzenPanelMenuItem Text="Daily Sales" Icon="today" Path="reports/daily-sales" />
        </RadzenPanelMenuItem>

        <AuthorizeView>
            <Authorized>
                <RadzenPanelMenuItem Text="Mi Perfil" Icon="person" Path="me" />

                <RadzenPanelMenuItem Text="Cerrar Sesión" Icon="logout" Click="@(_ => HandleLogout())" />
            </Authorized>

            <NotAuthorized>
                <RadzenPanelMenuItem Text="Login" Icon="login" Path="login" />
            </NotAuthorized>
        </AuthorizeView>
    </RadzenPanelMenu>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/", forceLoad: true);
    }
}